.flashy {
  color: pink;
  font-style: italic;
}

body {
  background-color: aqua;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-style: Arial;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  font-style: Arial;
  font-style: italic;
  font-weight: bold;
}

h3 {
  font-size: 45px;
  font-style: Arial;
  font-style: italic;
  font-weight: bold  
}

.best {
  font-style: Helvetica;
  font-size: 50px;
  color: red;
  font-weight: 900;
}

p {
  font-style: Helvetica;
  font-size: 40px;
  font-weight: 700;
}