.flashy {
  color: pink;
  font-style: italic;
}

body {
  background-color: aqua;
  text-align: center;
}

h1 {
  font-size: 90px;
  font-style: Arial;
  font-weight: bold;
}

h2 {
  font-size: 60px;
  font-style: Arial;
  font-style: italic;
  font-weight: bold;
}

p {
  font-size: medium;
  font-style:  Arial;
  font-style: italic;
  font-weight: bold;
}